# docker-compose variables
EXPOSED_PORT=80
MNT=/please-provid-backup-directory

# when using docker-compose we are equivalent to production env, could be put to 'dev' to see some dev only features
NODE_ENV="production"

# If your docker host is not "localhost" (which is the case if you do not run docker engine on the same machine as you dev-env), replace by its root value.
# Eg for WSL2 distribution : "host.docker.internal"

# when starting with docker-compose.yml
DOMAIN="localhost"

# when using only docker-compose.ressources
# DOMAIN="localhost:3000"

# IN_MEMORY | EXCEL
REPORTING_GATEWAY="IN_MEMORY"

# feature flags
ENABLE_ADMIN_UI=TRUE
ENABLE_ENTERPRISE_SIGNATURE=TRUE

# front variables IN_MEMORY | HTTP
GATEWAY="HTTP"

# back config variables

# Events will be process every XXXX milliseconds
EVENT_CRAWLER_PERIOD_MS="5000"

# IN_MEMORY | PG
REPOSITORIES="IN_MEMORY"

# IN_MEMORY | SENDINBLUE
EMAIL_GATEWAY="IN_MEMORY"

# IN_MEMORY | HTTPS
SIRENE_REPOSITORY="IN_MEMORY"

# IN_MEMORY | HTTPS
LA_BONNE_BOITE_GATEWAY="IN_MEMORY"

# IN_MEMORY | HTTPS
PASS_EMPLOI_GATEWAY="IN_MEMORY"
PASS_EMPLOI_URL="url/to/notify/passemploi/of/new/immersion/offers"
PASS_EMPLOI_KEY="key-to-notify-passemploi-of-new-immersion-offers"

# IN_MEMORY | HTTPS
POLE_EMPLOI_GATEWAY="IN_MEMORY"
POLE_EMPLOI_URL="url/to/notify/poleemploi/of/convention/immersion"
POLE_EMPLOI_KEY="key-to-notify-poleemploi-of-convention-updtaes"


# IN_MEMORY | HTTPS
PE_CONNECT_GATEWAY="IN_MEMORY"

# IN_MEMORY | ADRESSE_API | OPEN_CAGE_DATA
ADDRESS_API_GATEWAY="ADRESSE_API"

# Api key from https://opencagedata.com/dashboard#geocoding
API_KEY_OPEN_CAGE_DATA=xxx

# IN_MEMORY | PG
ROME_GATEWAY="IN_MEMORY"

# careful POLE_EMPLOI rome has limitation to 1 call/sec
# and does not always return romeCode (usually appelation code instead)

# back secrets
# The following keys are for local use only, they are considered compromised and shall never be use on any of our environements
JWT_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nMIGHAgEAMBMGByqGSM49AgEGCCqGSM49AwEHBG0wawIBAQQgevZzL1gdAFr88hb2\nOF/2NxApJCzGCEDdfSp6VQO30hyhRANCAAQRWz+jn65BtOMvdyHKcvjBeBSDZH2r\n1RTwjmYSi9R/zpBnuQ4EiMnCqfMPWiZqB4QdbAd0E7oH50VpuZ1P087G\n-----END PRIVATE KEY-----"
JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEEVs/o5+uQbTjL3chynL4wXgUg2R9\nq9UU8I5mEovUf86QZ7kOBIjJwqnzD1omageEHWwHdBO6B+dFabmdT9POxg==\n-----END PUBLIC KEY-----\n"

API_JWT_PRIVATE_KEY="-----BEGIN EC PRIVATE KEY-----\nMHcCAQEEIPnK7kOKC6VqJwmsXCcCgNfVEAMyt0IFm68g/dwg3/iVoAoGCCqGSM49\nAwEHoUQDQgAEXNo97BD4w2huuAYsmINnn/+TPolxYUexkcD49YyxsjJPA2d91B2r\nDzteUKnEsloNYDTeYW88oLPMdgmbzm+sQg==\n-----END EC PRIVATE KEY-----"
API_JWT_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----\nMFkwEwYHKoZIzj0CAQYIKoZIzj0DAQcDQgAEXNo97BD4w2huuAYsmINnn/+TPolx\nYUexkcD49YyxsjJPA2d91B2rDzteUKnEsloNYDTeYW88oLPMdgmbzm+sQg==\n-----END PUBLIC KEY-----"

ADMIN_EMAIL=somemail@mail.com
ADMIN_JWT_SECRET="my-secret"
BACKOFFICE_USERNAME=admin
BACKOFFICE_PASSWORD=password

POSTGRES_PASSWORD=pg_password
# usage with docker-compose
PG_URL=postgresql://immersion:pg_password@postgres:5432/immersion-db

# PG_URL="postgresql://immersion:pg_password@localhost:5432/immersion-db" # usage without docker-compose
# PG_URL="postgresql://immersion:pg_password@localhost:5432/immersion-db"

# node-pg-migrate reads DATABASE_URL env variable
# DATABASE_URL="postgresql://immersion:pg_password@post:5432/immersion-db"
DATABASE_URL="postgresql://immersion:pg_password@localhost:5432/immersion-db"

# Waiting for node-pg-migrate to merge this : https://github.com/salsita/node-pg-migrate/pull/874 so that we can use "dotenv-expand" like this:
# PG_HOST=localhost
# PG_URL="postgresql://immersion:${POSTGRES_PASSWORD:-pg_password}@${PG_HOST:-postgres}:5432/immersion-db"
# DATABASE_URL=$PG_URL

# POLE_EMPLOI_CLIENT_ID=""
# POLE_EMPLOI_CLIENT_SECRET=""

# SIRENE_ENDPOINT="https://api.insee.fr/entreprises/sirene/V3"
# SIRENE_BEARER_TOKEN=""

# SENDINBLUE_API_KEY=""

# ADMIN_ALLOWED_IP=""

# Absolute path to /storage folder
# eg on
STORAGE_ROOT="/home/YOUR_USER/PATH_TO_YOUR_WORKSPACE/immersion-facile/back/storage/"

DOCUMENT_GATEWAY=NONE


# Front variables

VITE_CRISP_WEBSITE_ID=""
VITE_PREFILLED_FORMS="true"
VITE_GATEWAY="HTTP"
# VITE_GATEWAY="IN_MEMORY"
VITE_ENV_TYPE="DEV"
