.DS_Store
.idea
node_modules
.env
.env.local
.notes
docker-data
nginx/etc/letsencrypt
backup/**/*.bz2
.pnpm-debug.log
dumps
cypress/cypress/downloads
cypress/cypress/videos
cypress/cypress/screenshots
.turbo
storage
logs
