version: "3"
services:
  postgres:
    image: postgis/postgis:13-master
    shm_size: 256m
    ports:
      - "5432:5432"
    environment:
      POSTGRES_LOG_STATEMENTS: all
      POSTGRES_DB: immersion-db
      POSTGRES_USER: immersion
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-pg_password}
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U immersion -d immersion-db"]
      interval: 10s
      timeout: 5s
      retries: 5
    volumes:
      - ./docker-data/test-postgresql:/var/lib/postgresql/data

  adminer:
    image: adminer
    ports:
      - "8090:8080"
