/*============================================
== Pôle emploi Connect
=============================================*/
.pe-connect {
  clear: both;
}
.pe-connect .button-pe-connect {
  border-radius: 100px;
  text-decoration: none;
  display: inline-block;
}
.pe-connect .button-pe-connect .icon-pe-connect-hover {
  display: none;
}
.pe-connect .button-pe-connect:hover .icon-pe-connect {
  display: none;
}
.pe-connect .button-pe-connect:hover .icon-pe-connect-hover {
  display: block;
}
.pe-connect .button-pe-connect:focus {
  opacity: 0.7;
}