.dropdown-container {
  position: relative;
}

.dropdown-error {
  color: red;
}

.dropdown-proposals {
  position: absolute;
  background-color: white;
  z-index: 10;
}

.dropdown-proposal:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: #e5e5f4;
}
