.dropdown-container {
  position: relative;
}

.dropdown-proposals {
  position: absolute;
  background-color: white;
  z-index: 1;
}

.dropdown-proposal:hover {
  cursor: pointer;
  opacity: 0.8;
  background-color: lightgray;
}
