.search-page {
  &__form {
    display: flex;
    align-items: flex-end;
    &-input-wrapper {
      flex: 3 0 auto;

      &--min {
        flex: 1 1 auto;
      }
      & + .search-page__form-input-wrapper {
        margin-left: 1rem;
      }
    }
    .fr-label {
      color: #fff;
    }
  }
}
