@import "react-design-system/src/config/responsive";

.im-search-page {
  &__form {
    display: flex;
    align-items: flex-end;
    &--v2 {
      max-width: 100% !important;
    }

  }
  &__results-summary {
    text-align: right;
  }
  &__search-filters {
    @include for-screen-min($bp-md) {
      display: flex;
    }
  }
}
