.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  height: 672px;
}

.redGradiant {
  background: linear-gradient(180deg, #ad4847 0%, #ce614a 100%);
}

.headerText {
  font-family: Marianne;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #ffffff;
  text-align: center;
}

.formContentsContainer {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: space-around;
}

.searchButton {
  padding: 8px 24px 8px 48px;

  min-width: 161px;
  height: 40px;

  background: 11px 8px #823434;
  border-radius: 4px;

  margin: 48px 8px 8px 8px;

  position: static;

  font-family: Marianne;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  text-align: center;

  color: #f5f5fe;
}

.searchButtonImage {
  position: absolute;
  transform: translate(-24px, 6px);
}

.searchResultContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 640px) {
  .searchResultContainer {
    height: 670px;
  }
}

.searchResult {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  padding: 16px;

  position: static;
  min-width: 288px;
  max-width: 640px;
  width: 80%;
  left: 0px;
  top: 334.89px;

  background: #ffffff;
  border: 1px solid #929292;
  box-sizing: border-box;
  border-radius: 8px;
  margin: 16px 16px;
  gap: 16px;
}

.searchResultTitle {
  font-family: Marianne;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 32px;

  color: #ce614a;
}

.metierDescription {
  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #3a3a3a;
}

.searchResultDistanceCompanySizeContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.distanceIconLabelContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.searchDetailsSeparator {
  background-color: #cecece;
  height: 0.89px;
}

.expandResultDetailsButton {
  background: #ce614a;
  border-radius: 4px;
  height: 40px;
  font-family: Marianne;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #f5f5fe;
}

.detailContainer {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.iconFilter {
  filter: invert(66%) sepia(14%) saturate(1543%) hue-rotate(322deg)
    brightness(102%) contrast(101%);
}
