.inputLabel {
  padding: 8px;
  text-align: center;
  display: block;
}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: 400px;
}

.autocomplete-input {
  border: 1px solid transparent;
  background-color: white;
  padding: 10px;
  font-size: 16px;
  width: 100%;
  border-radius: 4px;
  flex-grow: 1;
  width: 400px;
  height: 40px;
  align-self: stretch;
  font-family: Marianne;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #3a3a3a;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: solid 1px #d4d4d4;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  border-radius: 0px 0px 4px 4px;
  background-color: #f1f1f1;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

.autocomplete-items div {
  padding: 10px;
  background-color: transparent;
  cursor: pointer;
  border-bottom: 1px solid #d4d4d4;
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e5e5f4;
  opacity: 0.8;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}

.searchdropdown-header {
  font-weight: bold;
  color: white !important;
}

.searchdropdown__toggler {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  width: 100%;
}

.searchdropdown__toggler:hover,
.searchdropdown__toggler:active {
  background: transparent !important; /* Prevent DSFR hover background */
}
