.numberCircle {
  border-radius: 50%;
  width: 10px;
  height: 8px;
  padding: 10px;
  margin-right: 5px;

  background: #e5e5e5;
  color: #000091;
  text-align: center;

  font: 14px Arial, sans-serif;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.numberCircle:hover {
  background: #cacafb;
  font-weight: bold;
}

.numberCircle.filled {
  background: #e5e5e5;
}

.numberCircle.selected:hover {
  background: #2323ff;
  color: #e5e5e5;
}

.numberCircle.selected {
  background: #000091;
  color: #e5e5e5;
  font-weight: bold;
}

.time-picker-container {
  display: flex;
}

.day-picker {
  display: flex;
  margin: auto 10px;
}

.date-or-time-block {
  min-width: 135px;
  margin: auto 10px;
}

.schedule-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 330px;
}

.schedule-picker__total-cell {
  max-width: 50px; /* This will force one word per line */
  margin-bottom: 0.5rem !important; /* @TODO: Temp fix, should be removed when CSS imports are properly reorder */
}
