name: "Fullcheck of the project + integration tests"

on:
  workflow_call:
    secrets:
      API_KEY_OPEN_CAGE_DATA_GEOCODING:
        required: true
      API_KEY_OPEN_CAGE_DATA_GEOSEARCH:
        required: true
      PC_ADMIN_PASSWORD:
        required: true
      PC_PASSWORD:
        required: true
      PC_USERNAME:
        required: true
      PRO_CONNECT_CLIENT_SECRET:
        required: true
      SIRENE_INSEE_CLIENT_ID:
        required: true
      SIRENE_INSEE_CLIENT_SECRET:
        required: true
      SIRENE_INSEE_USERNAME:
        required: true
      SIRENE_INSEE_PASSWORD:
        required: true

jobs:
  validation:
    name: ""
    runs-on: ubuntu-latest
    strategy:
      fail-fast: true
      matrix:
        command: ["pnpm fast-checks", "pnpm typecheck", "pnpm back test"]

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 10.9.0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.14.0"
          cache: "pnpm"

      - name: Cache node_modules
        uses: actions/cache@v4
        id: node_modules_cache_id
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-node-modules-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-node-modules-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts

      - name: Cache Playwright Browsers
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-playwright-${{ hashFiles('**/pnpm-lock.yaml') }}

      - name: Install Playwright browsers if not cached
        if: ${{ matrix.command == 'pnpm typecheck' && steps.playwright-cache.outputs.cache-hit != 'true' }}
        run: pnpm playwright install

      - name: ${{matrix.command}}
        run: ${{matrix.command}}

  back-integration-tests:
    name: "Back integration tests"
    runs-on: ubuntu-latest
    env:
      TEST_DATABASE_URL: postgresql://immersion:password@localhost:5432/immersion-db
      TEST_REDIS_URL: redis://@localhost:6379
      DBT_HOST: localhost
      DBT_USER: immersion
      DBT_PASSWORD: password
      DBT_PORT: 5432
      DBT_DATABASE: immersion-db
    services:
      redis:
        image: redis:7.2.5
        ports:
          - 6379:6379
      postgres:
        image: postgis/postgis:13-master
        env:
          POSTGRES_USER: immersion
          POSTGRES_PASSWORD: password
          POSTGRES_DB: immersion-db
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 10.9.0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.14.0"
          cache: "pnpm"

      - name: Cache node_modules
        uses: actions/cache@v4
        id: node_modules_cache_id
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-node-modules-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-node-modules-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts --filter=!playwright

      - name: Install bun
        run: npm install -g bun@1.2.10  # do NOT use pnpm here, for bun, it will FAIL
      - name: Run migrations
        run: NODE_ENV=test DATABASE_URL=$TEST_DATABASE_URL pnpm back db:up:bun
      - name: Run integration tests
        run: |
          echo $TEST_DATABASE_URL
          echo $TEST_REDIS_URL
          DATABASE_URL=$TEST_DATABASE_URL REDIS_URL=$TEST_REDIS_URL pnpm back test:integration
      - name: Install DBT dependencies
        run: pnpm bi:setup
      - name: Run DBT fullcheck
        run: pnpm bi:fullcheck

  playwright-tests:
    name: "Playwright tests"
    if: github.ref != 'refs/heads/main' # Skip this job on main branch
    runs-on: ubuntu-latest
    env:
      # Secrets passed to Playwright config via process.env
      PC_USERNAME: ${{ secrets.PC_USERNAME }}
      PC_PASSWORD: ${{ secrets.PC_PASSWORD }}
      PC_ADMIN_PASSWORD: ${{ secrets.PC_ADMIN_PASSWORD }}
      PRO_CONNECT_CLIENT_SECRET: ${{ secrets.PRO_CONNECT_CLIENT_SECRET }}
      API_KEY_OPEN_CAGE_DATA_GEOCODING: ${{ secrets.API_KEY_OPEN_CAGE_DATA_GEOCODING }}
      API_KEY_OPEN_CAGE_DATA_GEOSEARCH: ${{ secrets.API_KEY_OPEN_CAGE_DATA_GEOSEARCH }}
      SIRENE_INSEE_CLIENT_ID: ${{ secrets.SIRENE_INSEE_CLIENT_ID }}
      SIRENE_INSEE_CLIENT_SECRET: ${{ secrets.SIRENE_INSEE_CLIENT_SECRET }}
      SIRENE_INSEE_USERNAME: ${{ secrets.SIRENE_INSEE_USERNAME }}
      SIRENE_INSEE_PASSWORD: ${{ secrets.SIRENE_INSEE_PASSWORD }}

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v3
        with:
          version: 10.9.0
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "22.14.0"
          cache: "pnpm"

      - name: Cache node_modules
        uses: actions/cache@v4
        id: node_modules_cache_id
        with:
          path: node_modules
          key: ${{ runner.os }}-pnpm-node-modules-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-pnpm-node-modules-

      - name: Install dependencies
        run: pnpm install --frozen-lockfile --prefer-offline --ignore-scripts

      - name: Get Playwright version
        id: playwright-version
        run: |
          version=$(pnpm ls @playwright/test --depth -1 -r | grep '@playwright/test' | awk '{print $2}')
          echo "version=$version" >> $GITHUB_OUTPUT

      - name: Cache Playwright Browsers
        uses: actions/cache@v4
        id: playwright-cache
        with:
          path: ~/.cache/ms-playwright
          key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}

      - name: Install Playwright browsers if not cached
        if: steps.playwright-cache.outputs.cache-hit != 'true'
        run: pnpm playwright install

      - name: Install bun
        run: npm install -g bun@1.2.10 # do NOT use pnpm here, for bun, it will FAIL

      - name: Run Playwright tests
        run: pnpm playwright test:ci

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: ./playwright/playwright-report/
          retention-days: 30
