.static-application-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.static-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
