.static-application-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.static-info-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.admin-tab__email-preview-wrapper {
  border: 1px solid var(--background-active-blue-france);
  font-family: Arial, Helvetica, sans-serif;
}
